@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;

    --white: #ffffff;
    --black: #000000;
  }

  [data-theme="sky"] {
    --color-50: #f0f9ff;
    --color-100: #e0f2fe;
    --color-200: #bae6fd;
    --color-300: #7dd3fc;
    --color-400: #38bdf8;
    --color-500: #0ea5e9;
    --color-600: #0284c7;
    --color-700: #0369a1;
    --color-800: #075985;
    --color-900: #0c4a6e;
  }

  @font-face {
    font-family: "SUIT-Regular";
    src: url("/fonts/SUIT-Variable.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "GowunDodum-Regular";
    src: url("/fonts/GowunDodum-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  [data-font="suit"] {
    font-family: "SUIT", sans-serif;
  }

  [data-font="gowun-dodum"] {
    font-family: "GowunDodum-Regular", sans-serif;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* datepicker 커스텀 스타일 */

@layer base {
  /* 달력 전체 컨테이너 */
  .react-datepicker {
    @apply min-w-[320px] max-w-[400px] bg-white p-0 border-0 rounded-lg !important;
  }

  /* 헤더 스타일 */
  .react-datepicker__header {
    @apply flex flex-col bg-white border-0 p-0 gap-4 text-gray-700 !important;
  }

  /* 요일 개별 스타일 */
  .react-datepicker__day-name {
    @apply text-theme-500 text-center cursor-pointer p-2 rounded-md w-[40px] !important;
  }

  /* 날짜 스타일 */
  .react-datepicker__day {
    @apply text-gray-700 text-center cursor-pointer p-2 rounded-md w-[40px] !important;
  }

  /* 선택 불가능 날짜 */
  .react-datepicker__day--disabled {
    @apply text-gray-300 text-center cursor-pointer p-2 rounded-md w-[40px] !important;
  }

  /* 선택된 날짜 */
  .react-datepicker__day--selected {
    @apply rounded-3xl bg-theme-400 text-white font-bold !important;
  }

  /* 오늘 날짜 스타일 */
  .react-datepicker__day--today {
    @apply rounded-3xl bg-theme-100 text-theme-500 !important;
  }

  .react-datepicker__day--keyboard-selected {
    @apply text-gray-700 bg-white text-center cursor-pointer p-2 rounded-md w-[40px] !important;
  }
}

/* 폰트 크기 슬라이드바 커스텀 스타일 */

/* 슬라이더 바 */
input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: var(--zinc-300);
  border-radius: 2px;
}

/* 슬라이더 핸들 */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--color-500);
  border-radius: 50%;
  margin-top: -8px; /* 중앙 정렬 */
}

/* Firefox용 스타일 */
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--color-500);
  border-radius: 50%;
  border: 2px solid white;
}
